body {
  font-size: .75rem;
  padding: 0;
  margin: 0;
}
#app {
  padding: 0;
  margin: 0;
}
.ms-msg {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 3%;
  color: #807d7d;
  font-size: 12px;
}
.container {
  width: 100%;
  margin-top: 6rem;
}
.next-button {
  width: 40%;
  margin: 0 auto;
  color: #fff;
  margin-top: 1.6rem;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  padding: .8rem 0;
  border-radius: 2rem;
  background: -webkit-linear-gradient(left, #8dc6f5, #277ef0);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #8dc6f5, #277ef0);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #8dc6f5, #277ef0);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #8dc6f5, #277ef0);
  /* 标准的语法 */
}
