#basic .basic-idcard {
  display: flex;
  align-items: center;
}
#basic .basic-idcard .idcardup {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#basic .basic-idcard .idcardup .id-img {
  width: 86%;
  margin: 0px auto;
  padding-top: 10px;
}
#basic .basic-idcard .idcardup .van-cell {
  width: 63%;
}
