#basic {
    .basic-idcard {
        display: flex;
        align-items: center;

        .idcardup {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .id-img {
                width: 86%;
                margin: 0px auto;
                padding-top: 10px;
            }

            .van-cell {
                width: 63%;
            }
        }
    }
}