body{
    font-size: .75rem;
    padding: 0;
    margin: 0;
}

#app{
    padding: 0;
    margin: 0;
}
.ms-msg{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 3%;
    color: rgb(128, 125, 125);
    font-size: 12px;
}

//框
.container{
    width: 100%;
    margin-top: 6rem;
}

//下一步按钮样式
.next-button{
    width: 40%;
    margin: 0 auto;
    color: #fff;
    margin-top: 1.6rem;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    padding: .8rem 0;
    border-radius: 2rem;
    background: -webkit-linear-gradient(left, rgb(141, 198, 245) , rgb(39, 126, 240)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(141, 198, 245), rgb(39, 126, 240)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(141, 198, 245), rgb(39, 126, 240)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(141, 198, 245), rgb(39, 126, 240)); /* 标准的语法 */
}