<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基本信息</title>
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/basicPage.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">

    <!-- 引入组件,注意引入顺序 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
    <script src="../js/area.js"></script>
</head>

<body>
    <div id="basic">
        <div class="container">
            <van-cell-group>
                <van-cell title="基本信息" />
            </van-cell-group>
            <div class="basic-idcard">
                <div class="idcardup">
                    <img :src="imgup" alt="" v-if="imgup.length>0">
                    <img v-else src="../image/idup.png" alt="" class="id-img">
                    <van-field required :disabled="true" label="上传证件正面" />
                    <input type="file" accept="image/*" id="fileup" />
                </div>
                <div class="idcardup">
                    <img src="../image/iddown.png" alt="" class="id-img">
                    <van-field required :disabled="true" label="上传证件反面" />
                </div>
            </div>
            <van-cell-group>
                <van-field v-model='value' label="姓名" required />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='value' label="身份证号" required />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='value' label="手机号" type="tel" required />
            </van-cell-group>
            <!-- 性别 -->
            <van-cell-group>
                <van-field readonly is-link label="性别" v-model="xb" placeholder="请选择" @click="showPickerxinbie=true " />
            </van-cell-group>
            <van-popup v-model="showPickerxinbie" position="bottom">
                <van-picker show-toolbar :columns="columnsxb" @cancel="showPickerxinbie = false"
                    @confirm="onConfirmxinbie" @change="onChangexinbie" value-key="label" />
            </van-popup>
            <van-cell-group>
                <van-field v-model='value' label="年龄" type="number" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='value' label="民族" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='value' label="身份证地址" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='value' label="签发机关" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='value' label="身份证有效期" />
            </van-cell-group>
            <!-- 婚姻 -->
            <van-cell-group>
                <van-field readonly is-link label="婚姻" v-model="hy" placeholder="请选择" @click="showPickerhunyin=true " />
            </van-cell-group>
            <van-popup v-model="showPickerhunyin" position="bottom">
                <van-picker show-toolbar :columns="columnshy" @cancel="showPickerhunyin = false"
                    @confirm="onConfirmhunyin" @change="onChangehunyin" />
            </van-popup>
            <!-- 学历 -->
            <van-cell-group>
                <van-field readonly is-link label="学历" v-model="xl" placeholder="请选择" @click="showPickerxueli=true " />
            </van-cell-group>
            <van-popup v-model="showPickerxueli" position="bottom">
                <van-picker show-toolbar :columns="columnsxl" @cancel="showPickerxueli = false"
                    @confirm="onConfirmxueli" @change="onChangexueli" />
            </van-popup>
            <!-- 学位 -->
            <van-cell-group>
                <van-field readonly is-link label="学位" v-model="xw" placeholder="请选择" @click="showPickerxuewei=true " />
            </van-cell-group>
            <van-popup v-model="showPickerxuewei" position="bottom">
                <van-picker show-toolbar :columns="columnsxw" @cancel="showPickerxuewei = false"
                    @confirm="onConfirmxuewei" @change="onChangexuewei" />
            </van-popup>
            <!-- 居住状况 -->
            <van-cell-group>
                <van-field readonly is-link label="居住状况" v-model="jz" placeholder="请选择"
                    @click="showPickerjuzhu=true " />
            </van-cell-group>
            <van-popup v-model="showPickerjuzhu" position="bottom">
                <van-picker show-toolbar :columns="columnsjz" @cancel="showPickerjuzhu = false"
                    @confirm="onConfirmjuzhu" @change="onChangejuzhu" />
            </van-popup>
            <!-- 现居住省市区 -->
            <van-cell-group>
                <van-field readonly is-link label="现居住省市区" v-model="shq" placeholder="请选择"
                    @click="showPickershengshiqu=true" />
            </van-cell-group>
            <van-popup v-model="showPickershengshiqu" position="bottom">
                <van-area :area-list="area" @cancel="showPickershengshiqu = false" @confirm="onConfirmshengshiqu"
                    @change="onChangeshengshiqu" />
            </van-popup>
            <van-cell-group>
                <van-field v-model='value' label="电子邮箱" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='value' label="QQ" type="number" />
            </van-cell-group>
            <div class="next-button" @click="next">
                下一步
            </div>
        </div>
    </div>
    <!-- <div class="ms-msg">
        版权公告 © 2018-2019 广州民盛互联网小额贷款有限公司<br>
        粤ICP备18017476号-1
    </div> -->
</body>

<script>
    var app = new Vue({
        el: "#basic",
        data() {
            return {
                imgup: '',//
                imgdown: '',//
                value: '',
                hy: '',//婚姻
                xb: '',//性别
                xl: '',//学历
                xw: '',//学位
                jz: '',//居住
                shq: '',//省市区
                showPickerhunyin: false,//控制婚姻弹窗显示
                showPickerxueli: false,//控制学历弹窗显示
                showPickerxuewei: false,//控制学位弹窗显示
                showPickerjuzhu: false,//控制学位弹窗显示
                showPickerxinbie: false,//控制性别弹窗显示
                showPickershengshiqu: false,//控制省市区弹窗显示
                area: {},//省市区数据
                columnshy: ['已婚', '未婚', '离异', '丧偶', '其他'],//婚姻选择项
                columnsxl: ['小学及以下', '初中', '高中', '大专', '本科', '博客及以上'],//学历选择项
                columnsxw: ['学士', '硕士', '博士', '其他'],//学位选择项
                columnsjz: ['租用', '自有', '亲属房产', '其他'],//居住选择项
                columnsxb: [{ key: 1, label: '男' }, { key: 2, label: '女' }]//性别选择项
            }
        },
        created() {
            this.area = area;
        },
        methods: {
            test(event) {
                let file = event.target.files[0];
                let data = new FileReader();
                let img = new Image();
                let formatdata = "";
                data.onload = e1 => {
                    img.onload = e => {
                        if (/^image\/([a-zA-Z]|\*)+$/.test(file.type)) {
                            formatdata = this.getImgToBase64(e);//返回base64图片数据
                            // formatdata = encodeURIComponent(formatdata);
                            //id_card_info 代表请求地址，根据自己修改
                            // this.$http.post("id_card_info", { 'access_token': this.access_token, 'image': formatdata, 'id_card_side': this.id_card_side }).then(res => {
                            //     this.idNo = res.data.words_result.公民身份号码.words;
                            // })
                        }
                    };
                    img.src = e1.target.result;
                };
                data.readAsDataURL(file);
            },
            getImgToBase64(url, callback) {//将图片转换为Base64
                var canvas = document.createElement('canvas'),
                    ctx = canvas.getContext('2d'),
                    img = new Image;
                img.crossOrigin = 'Anonymous';
                img.onload = function () {
                    canvas.height = img.height;
                    canvas.width = img.width;
                    ctx.drawImage(img, 0, 0);
                    var dataURL = canvas.toDataURL('image/png');
                    callback(dataURL);
                    canvas = null;
                };
                img.src = url;
            },
            // 性别---------------------|
            //变直
            onChangexinbie(object, value) {
                // console.log(index)
                // console.log(value)
                this.xb = value.label
            },
            //弹出层确认
            onConfirmxinbie(value, index) {
                // console.log(index)
                // console.log(value)
                this.xb = value.label
                this.showPickerxinbie = false
            },
            // 婚姻---------------------|
            //变直
            onChangehunyin(value, index) {
                this.hy = index
                console.log(index)
            },
            //弹出层确认
            onConfirmhunyin(value, index) {
                console.log(value)
                console.log(index)
                this.hy = value
                this.showPickerhunyin = false
            },

            // 学历---------------------|
            //变直
            onChangexueli(value, index) {
                this.xl = index
                console.log(index)
            },
            //弹出层确认
            onConfirmxueli(value, index) {
                console.log(value + index)
                this.xl = value
                this.showPickerxueli = false
            },
            // 学位---------------------|
            //变直
            onChangexuewei(value, index) {
                this.xw = index
                console.log(index)
            },
            //弹出层确认
            onConfirmxuewei(value, index) {
                console.log(value + index)
                this.xw = value
                this.showPickerxuewei = false
            },
            // 居住状况---------------------|
            //变直
            onChangejuzhu(value, index) {
                this.jz = index
                console.log(index)
            },
            //弹出层确认
            onConfirmjuzhu(value, index) {
                console.log(value + index)
                this.jz = value
                this.showPickerjuzhu = false
            },
            // 现居住省市区---------------------|
            //变直
            onConfirmshengshiqu(value, index) {
                var sum = '';
                value.forEach((data) => {
                    sum += data.name
                });
                this.shq = sum;
                this.showPickershengshiqu = false
            },
            //弹出层确认
            onChangeshengshiqu(value, index) {
                if (index.length === 3) {
                    var sum = '';
                    index.forEach((data) => {
                        sum += data.name
                    });
                    this.shq = sum;
                }
                // this.showPickershengshiqu = false
            },
            //提交
            next() {
                window.location.href = './basicPage.html'
            }
        },
    });
</script>

</html>