<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基本信息</title>
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/basicPage.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">

    <!-- 引入组件,注意引入顺序 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
    <script src="https://gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/area.js"></script>
    <script src="../js/exif.js"></script>
</head>

<body>
    <div id="basic">
        <div class="top-step">
            <van-steps :active="active">
                    <van-step><a href="../html/basicPage.html">基本信息</a></van-step>
                    <van-step><a href="../html/CheckFace.html">活体检测</a></van-step>
                    <van-step><a href="../html/WorkMsg.html">工作信息</a></van-step>
                    <van-step><a href="../html/Contract.html">联系人员</a></van-step>
                    <van-step><a href="../html/UserCommit.html">用户认证</a></van-step>
            </van-steps>
        </div>
        <div class="container">
            <van-cell-group>
                <van-cell title="基本信息" />
            </van-cell-group>
            <div class="basic-idcard">
                <div class="idcardup">
                    <a href="javascript:;" class="a-upload">
                        <input type="file" accept="image/*" @change="upload">
                    </a>
                    <img :src="formData.positive" alt="" v-if="filefrontlength>0" class="id-img">
                    <img v-else src="../image/idup.png" alt="" class="id-img">
                    <van-field required :disabled="true" label="上传证件正面" />
                </div>
                <div class="idcardup">
                    <a href="javascript:;" class="a-upload">
                        <input type="file" accept="image/*" @change="upload1">
                    </a>
                    <img :src="formData.back" alt="" v-if="filebacklength>0" class="id-img">
                    <img v-else src="../image/iddown.png" alt="" class="id-img">
                    <van-field required :disabled="true" label="上传证件反面" />
                </div>
            </div>
            <van-cell-group>
                <van-field v-model='formData.name' label="姓名" 
                right-icon="question-o" required @click-right-icon="$toast('请填写真实姓名')" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='formData.idCard' label="身份证号" 
                right-icon="question-o" required @click-right-icon="$toast('请填写真实身份证号码')" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='formData.phoneNumber' label="手机号" 
                right-icon="question-o" type="tel" @click-right-icon="$toast('请填写真实手机号码')"  required />
            </van-cell-group>
            <!-- 性别 -->
            <van-cell-group>
                <van-field readonly is-link label="性别" v-model="sex" placeholder="请选择"
                    @click="showPickerxinbie=true " />
            </van-cell-group>
            <van-popup v-model="showPickerxinbie" position="bottom">
                <van-picker show-toolbar :columns="columnsxb" @cancel="showPickerxinbie = false"
                    @confirm="onConfirmxinbie" @change="onChangexinbie" />
            </van-popup>
            <van-cell-group>
                <van-field v-model='formData.age' label="年龄"  
                placeholder="请手动输入"
                right-icon="question-o" type="number" @click-right-icon="$toast('请填写真实年龄')" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='formData.nation' label="民族" 
                right-icon="question-o" @click-right-icon="$toast('请填写真实民族')" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='formData.idCardAddress' label="身份证地址" 
                right-icon="question-o" @click-right-icon="$toast('请填写真实身份证地址')" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='formData.signingOffice' label="签发机关" 
                right-icon="question-o" @click-right-icon="$toast('请填写真实有效的签发机关')" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='formData.certificateValidityPeriod' label="身份证有效期" 
                right-icon="question-o" @click-right-icon="$toast('请填写真实的身份证有效期')" />
            </van-cell-group>
            <!-- 婚姻 -->
            <van-cell-group>
                <van-field readonly is-link label="婚姻" v-model="formData.maritalStatus" placeholder="请选择"
                    @click="showPickerhunyin=true " />
            </van-cell-group>
            <van-popup v-model="showPickerhunyin" position="bottom">
                <van-picker show-toolbar :columns="columnshy" @cancel="showPickerhunyin = false"
                    @confirm="onConfirmhunyin" @change="onChangehunyin" />
            </van-popup>
            <!-- 学历 -->
            <van-cell-group>
                <van-field readonly is-link label="学历" v-model="formData.education" placeholder="请选择"
                    @click="showPickerxueli=true " />
            </van-cell-group>
            <van-popup v-model="showPickerxueli" position="bottom">
                <van-picker show-toolbar :columns="columnsxl" @cancel="showPickerxueli = false"
                    @confirm="onConfirmxueli" @change="onChangexueli" />
            </van-popup>
            <!-- 学位 -->
            <van-cell-group>
                <van-field readonly is-link label="学位" v-model="formData.degree" placeholder="请选择"
                    @click="showPickerxuewei=true " />
            </van-cell-group>
            <van-popup v-model="showPickerxuewei" position="bottom">
                <van-picker show-toolbar :columns="columnsxw" @cancel="showPickerxuewei = false"
                    @confirm="onConfirmxuewei" @change="onChangexuewei" />
            </van-popup>
            <!-- 居住状况 -->
            <van-cell-group>
                <van-field readonly is-link label="居住状况" v-model="formData.livingConditions" placeholder="请选择"
                    @click="showPickerjuzhu=true " />
            </van-cell-group>
            <van-popup v-model="showPickerjuzhu" position="bottom">
                <van-picker show-toolbar :columns="columnsjz" @cancel="showPickerjuzhu = false"
                    @confirm="onConfirmjuzhu" @change="onChangejuzhu" />
            </van-popup>
            <!-- 现居住省市区 -->
            <van-cell-group>
                <van-field readonly is-link label="现居住省市区" v-model="formData.provincialAndUrbanAreas" placeholder="请选择"
                    @click="showPickershengshiqu=true" />
            </van-cell-group>
            <van-popup v-model="showPickershengshiqu" position="bottom">
                <van-area :area-list="area" @cancel="showPickershengshiqu = false" @confirm="onConfirmshengshiqu"
                    @change="onChangeshengshiqu" />
            </van-popup>
            <van-cell-group>
                <van-field v-model='formData.email' label="电子邮箱" 
                right-icon="question-o" @click-right-icon="$toast('请填写真实有效的电子邮箱')" />
            </van-cell-group>
            <van-cell-group>
                <van-field v-model='formData.qq' label="QQ" type="number" 
                right-icon="question-o" @click-right-icon="$toast('请填写真实的QQ')" />
            </van-cell-group>
            <div class="next-button" @click="next">
                下一步
            </div>
            <div class="load-ing" v-if="loadshow">
                <van-loading size="24px" color="#1989fa"  vertical>加载中...</van-loading>
            </div>
            <div class="ms-msg">
                版权公告 © 2018-2019 广州民盛互联网小额贷款有限公司<br>
                粤ICP备18017476号-1
            </div>
        </div>
    </div>
</body>

<script>
    var app = new Vue({
        el: "#basic",
        data() {
            return {
                formData: {
                    // mobile:"",//登录手机号
                    positive: '',//上传证件正面
                    back: '',//上传证件反面
                    name: '',//姓名
                    idCard: '',//身份证号
                    phoneNumber: '',//手机号
                    sex: '',//性别
                    age: '',//年龄
                    nation: '',//民族
                    idCardAddress: '',//身份证地址
                    signingOffice: '',//签发机关
                    certificateValidityPeriod: '',//身份证有效期
                    maritalStatus: '',//婚姻
                    education: '',//学历
                    degree: '',//学位
                    livingConditions: '',//居住状况
                    provincialAndUrbanAreas: '',//现居住省市区
                    email: '',//电子邮箱
                    qq: '',//QQ

                    page:0,         //当前页
                },
                active: 0,
                loadshow: false,        //加载条显示
                sex:'', //性别

                form:{
                    account:"",
                    usrNo:""
                },

                filefrontlength:0,
                filebacklength:0,
                showPickerhunyin: false,//控制婚姻弹窗显示
                showPickerxueli: false,//控制学历弹窗显示
                showPickerxuewei: false,//控制学位弹窗显示
                showPickerjuzhu: false,//控制居住弹窗显示
                showPickerxinbie: false,//控制性别弹窗显示
                showPickershengshiqu: false,//控制省市区弹窗显示
                area: {},//省市区数据
                columnshy: ['已婚', '未婚', '离异', '丧偶', '其他'],//婚姻选择项
                columnsxl: ['小学及以下', '初中', '高中', '大专', '本科', '研究生及以上'],//学历选择项
                columnsxw: ['学士', '硕士', '博士', '其他'],//学位选择项
                columnsjz: ['租用', '自有', '亲属房产', '其他'],//居住选择项
                columnsxb: ['男', '女']//性别选择项
            }
        },
        created() {
            this.area = area;
        },
        mounted() {
            this.getoldmsg();//获取上一次登录的信息数据预览
        },
        methods: {

            getoldmsg(){
                this.form.usrNo = sessionStorage.getItem('usrNo');
                axios({
                        method: 'post',
                        url: "https://dev.zxtouch.msxiaodai.com/app/userInfo",
                        data: this.form
                    })
                    .then(
                        response => {
                            if (response.data.code == 0) {
                                if(this.active <= response.data.detail.result.currentPage){
                                    
                                    this.formData.positive = response.data.detail.result.positive
                                    this.formData.back = response.data.detail.result.back
                                    this.formData.phoneNumber = response.data.detail.result.phoneNumber
                                    this.formData.name = response.data.detail.result.name
                                    this.formData.idCard = response.data.detail.result.idCard

                                    this.formData.sex = response.data.detail.result.sex
                                    if(this.formData.sex == 1){
                                        this.sex = '男'
                                    }else{
                                        this.sex = '女'
                                    }

                                    this.formData.age = response.data.detail.result.age
                                    this.formData.nation = response.data.detail.result.nation
                                    this.formData.idCardAddress = response.data.detail.result.idCardAddress
                                    this.formData.signingOffice = response.data.detail.result.signingOffice
                                    this.formData.certificateValidityPeriod = response.data.detail.result.certificateValidityPeriod
                                    this.formData.maritalStatus = response.data.detail.result.maritalStatus
                                    this.formData.education = response.data.detail.result.education
                                    this.formData.degree = response.data.detail.result.degree
                                    this.formData.livingConditions = response.data.detail.result.livingConditions
                                    this.formData.provincialAndUrbanAreas = response.data.detail.result.provincialAndUrbanAreas
                                    this.formData.degree = response.data.detail.result.degree
                                    this.formData.email = response.data.detail.result.email
                                    this.formData.qq = response.data.detail.result.qq
                                }
                            }else{
                                console.log(response.data.msg)
                                vant.Toast.fail(response.data.msg)
                            }
                        },
                        response => {

                        }
                    )
            },

            //身份证正面面
            upload(e) {
                let files = e.target.files || e.dataTransfer.files
                this.filefrontlength = files.length;
                if (!files.length) return
                //显示加载
                this.loadshow = true

                var fileSize = (files[0].size) / (1024 * 1024); //转换成M
                fileSize = fileSize.toFixed(0); //保留小数点后一位

                // 不得大于2M
                if(fileSize <= 2){
                    this.imgPreview(files[0])
                }else{
                    vant.Toast('照片大小不得大于2M.')
                }
            },

            imgPreview(file) {
                let self = this
                let Orientation
                var _that = this;
                let _self = this;
                var bucket; //OSS文件名称
                var region;
                var extranet;
                var accessKeyId;
                var accessKeySecret;
                // 去获取拍照时的信息，解决拍出来的照片旋转问题
                EXIF.getData(file, function () {
                    Orientation = EXIF.getTag(this, 'Orientation')
                })
                // 看支持不支持FileReader
                if (!file || !window.FileReader) return
                if (/^image/.test(file.type)) {
                    // console.log('file', file)
                    axios({
                        header: {
                            'Content-Type': 'multipart/form-data'
                        },
                        method: "post",
                        url: "https://dev.zxtouch.msxiaodai.com/app/getOssProperties"
                    }).then(
                        response => {
                            // console.log('response', response)
                            // 向后台发请求 拉取OSS相关配置
                            //后端提供数据
                            const client = new OSS.Wrapper({
                                secure: true,//这句话很重要！！！！！！！！！
                                region: "oss-cn-shenzhen", // 服务器集群地区
                                extranet: response.data.extranet,
                                accessKeyId: response.data.secretId, // OSS帐号
                                accessKeySecret: response.data.secretKey, // OSS 密码
                                bucket: response.data.bucket // 阿里云上存储的 Bucket
                            });
                            // console.log('client', client)
                            // this.receivables.push(fileName);
                            var fileName = file.name;
                            //时间戳
                            const obj = this.timestamp();
                            //时间戳
                            const obj2 = this.timestamp1();
                            //后缀名
                            const suffix = fileName.substr(fileName.indexOf("."));
                            var phone = sessionStorage.getItem('account');
                            //获取企业编号
                            // const enterpriseNo = sessionStorage.getItem("enterpriseNo");
                            const storeAs =
                                "test/appser/userinfo/" +
                                phone +
                                "/" +
                                obj +
                                "-" +
                                obj2 +
                                "-" +
                                fileName;
                            //上传
                            client
                                .multipartUpload(storeAs, file, {
                                })
                                .then(res => {
                                    // console.log('res', res)
                                    if (res) {
                                        this.formData.positive = "https://appserbuc.oss-cn-shenzhen.aliyuncs.com/" + storeAs;

                                        var imageUrl = this.formData.positive
                                        
                                        var usrNo = sessionStorage.getItem('usrNo');
                                        //图片上传成功后调用身份识别接口
                                        axios({
                                            method: 'post',
                                            url: "https://dev.zxtouch.msxiaodai.com/rong360/idCarddIscern",
                                            data: {
                                                imageUrl:imageUrl,
                                                usrNo:usrNo
                                            }
                                        })
                                        .then(
                                            response => {
                                                if (response.data.code == 200) {
                                                    //取消显示加载
                                                    this.loadshow = false

                                                    if(response.data.data.side == 'front'){

                                                            vant.Toast('识别身份证正面照成功.');
                                                            //姓名
                                                            this.formData.name = response.data.data.name

                                                            sessionStorage.setItem("idcardName",response.data.data.name);

                                                            //身份证号码
                                                            this.formData.idCard = response.data.data.id_card_number

                                                            sessionStorage.setItem("idcardNumber",response.data.data.id_card_number);

                                                            //手机号
                                                            this.formData.phoneNumber = sessionStorage.getItem('account');

                                                            //性别
                                                            for(var i=0;i<this.columnsxb.length;i++){
                                                                if(this.columnsxb[i] == response.data.data.gender){
                                                                    this.formData.sex = i+1;
                                                                    this.sex = this.columnsxb[i]
                                                                }
                                                            }

                                                            //民族
                                                            this.formData.nation = response.data.data.race

                                                            //身份证地址
                                                            this.formData.idCardAddress = response.data.data.address
                                                        
                                                    }else{
                                                        vant.Toast.fail('请上传正确的身份证正面照.')
                                                    }

                                                }else{
                                                    //取消显示加载
                                                    this.loadshow = false
                                                    vant.Toast('识别身份证正面照失败.' + response.data.msg);
                                                }
                                            },
                                            response => {
                                                console.log(response);
                                                vant.Toast('异常.');
                                            }
                                        )

                                        
                                    }
                                })
                                .catch(err => {
                                    this.loadshow = false;
                                    console.log('err', err)
                                    vant.Toast('异常.');
                                });
                        },
                        //打印
                        response => { }
                    );
                }
            },
            //身份证反面
            upload1(e) {
                let files = e.target.files || e.dataTransfer.files
                this.filebacklength = files.length;
                if (!files.length) return
                //显示加载
                this.loadshow = true

                var fileSize = (files[0].size) / (1024 * 1024); //转换成M
                fileSize = fileSize.toFixed(0); //保留小数点后一位

                // 不得大于2M
                if(fileSize <= 2){
                    this.imgPreview1(files[0])
                }else{
                    vant.Toast('照片大小不得大于2M.')
                }

            },
            imgPreview1(file) {
                let self = this
                let Orientation
                var _that = this;
                let _self = this;
                var bucket; //OSS文件名称
                var region;
                var extranet;
                var accessKeyId;
                var accessKeySecret;
                // 去获取拍照时的信息，解决拍出来的照片旋转问题
                EXIF.getData(file, function () {
                    Orientation = EXIF.getTag(this, 'Orientation')
                })
                // 看支持不支持FileReader
                if (!file || !window.FileReader) return
                if (/^image/.test(file.type)) {
                    // console.log('file', file)
                    axios({
                        header: {
                            'Content-Type': 'multipart/form-data'
                        },
                        method: "post",
                        url: "https://dev.zxtouch.msxiaodai.com/app/getOssProperties"
                    }).then(
                        response => {
                            // console.log('response', response)
                            // 向后台发请求 拉取OSS相关配置
                            //后端提供数据
                            const client = new OSS.Wrapper({
                                secure: true,//这句话很重要！！！！！！！！！
                                region: "oss-cn-shenzhen", // 服务器集群地区
                                extranet: response.data.extranet,
                                accessKeyId: response.data.secretId, // OSS帐号
                                accessKeySecret: response.data.secretKey, // OSS 密码
                                bucket: response.data.bucket // 阿里云上存储的 Bucket
                            });
                            // console.log('client', client)
                            // this.receivables.push(fileName);
                            var fileName = file.name;
                            //时间戳
                            const obj = this.timestamp();
                            //时间戳
                            const obj2 = this.timestamp1();
                            //后缀名
                            const suffix = fileName.substr(fileName.indexOf("."));
                            
                            var phone = sessionStorage.getItem('account');

                            //获取企业编号
                            // const enterpriseNo = sessionStorage.getItem("enterpriseNo");
                            const storeAs =
                                "test/appser/userinfo/" +
                                phone +
                                "/" +
                                obj +
                                "-" +
                                obj2 +
                                "-" +
                                fileName;
                            //上传
                            client
                                .multipartUpload(storeAs, file, {
                                })
                                .then(res => {
                                    // console.log('res', res)
                                    if (res) {
                                        this.formData.back = "https://appserbuc.oss-cn-shenzhen.aliyuncs.com/" + storeAs;

                                        var imageUrl = this.formData.back

                                        //显示加载
                                        this.loadshow = true
                                        
                                        var usrNo = sessionStorage.getItem('usrNo');

                                        // console.log(imageUrl)
                                        //图片上传成功后调用身份识别接口
                                        axios({
                                            method: 'post',
                                            url: "https://dev.zxtouch.msxiaodai.com/rong360/idCarddIscern",
                                            data: {
                                                imageUrl:imageUrl,
                                                usrNo:usrNo
                                            }
                                        })
                                        .then(
                                            response => {
                                                if (response.data.code == 200) {
                                                    //隐藏加载
                                                    this.loadshow = false

                                                    if(response.data.data.side == 'back'){

                                                            vant.Toast('识别身份证反面照成功.');
                                                            
                                                            //签发机关
                                                            this.formData.signingOffice = response.data.data.issued_by

                                                            //身份证有效期
                                                            this.formData.certificateValidityPeriod = response.data.data.valid_date
                                                        
                                                    }else{
                                                        vant.Toast.fail('请上传正确的身份证反面照.')
                                                    }

                                                }else{
                                                    //取消显示加载
                                                    this.loadshow = false
                                                    vant.Toast('识别身份证反面照失败.'+ response.data.msg);
                                                }
                                            },
                                            response => {
                                                this.loadshow = false;  
                                                console.log(response);
                                                vant.Toast('异常.');
                                            }
                                        )
                                    }
                                })
                                .catch(err => {
                                    console.log('err', err)
                                });
                        },
                        //打印
                        response => { }
                    );
                }
            },
            //  时间戳
            timestamp() {
                const time = new Date();
                const y = time.getFullYear();
                const m = time.getMonth() + 1;
                const d = time.getDate();
                const h = time.getHours();
                const mm = time.getMinutes();
                const s = time.getSeconds();
                return "" + y + "-" + this.Add0(m) + "-" + this.Add0(d);
            },
            Add0: function (m) {
                return m < 10 ? "0" + m : m;
            },

            //  时间戳1
            timestamp1() {
                const time = new Date();
                const y = time.getFullYear();
                const m = time.getMonth() + 1;
                const d = time.getDate();
                const h = time.getHours();
                const mm = time.getMinutes();
                const s = time.getSeconds();
                return (
                    "" +
                    y +
                    "-" +
                    this.Add1(m) +
                    "-" +
                    this.Add1(d) +
                    "_" +
                    this.Add1(h) +
                    this.Add1(mm) +
                    this.Add1(s)
                );
            },
            Add1: function (m) {
                return m < 10 ? "0" + m : m;
            },
            // 性别---------------------|
            //变直
            onChangexinbie(all,value,index) {
                this.sex = value;
                this.formData.sex = index + 1
            },
            //弹出层确认
            onConfirmxinbie(value, index) {
                this.sex = value;
                this.formData.sex = index + 1;
                this.showPickerxinbie = false
            },
            // 婚姻---------------------|
            //变直
            onChangehunyin(all,value,index) {
                this.formData.maritalStatus = value
            },
            //弹出层确认
            onConfirmhunyin(value, index) {
                this.formData.maritalStatus = value
                this.showPickerhunyin = false
            },

            // 学历---------------------|
            //变直
            onChangexueli(all,value,index) {
                this.formData.education = value
            },
            //弹出层确认
            onConfirmxueli(value, index) {
                this.formData.education = value
                this.showPickerxueli = false
            },
            // 学位---------------------|
            //变直
            onChangexuewei(all,value,index) {
                this.formData.degree = value
            },
            //弹出层确认
            onConfirmxuewei(value, index) {
                this.formData.degree = value
                this.showPickerxuewei = false
            },
            // 居住状况---------------------|
            //变值
            onChangejuzhu(all,value,index) {
                this.formData.livingConditions = value
            },
            //弹出层确认
            onConfirmjuzhu(value, index) {
                this.formData.livingConditions = value
                this.showPickerjuzhu = false
            },
            // 现居住省市区---------------------|
            //变值
            onConfirmshengshiqu(value,index) {
                var sum = '';
                value.forEach((data) => {
                    sum += data.name
                });
                this.formData.provincialAndUrbanAreas = sum;
                this.showPickershengshiqu = false
            },
            //弹出层确认
            onChangeshengshiqu(all,value, index) {
                if (index.length === 3) {
                    var sum = '';
                    index.forEach((data) => {
                        sum += data.name
                    });
                    this.formData.provincialAndUrbanAreas = sum;
                }
            },
            //提交
            next() {
                this.formData.usrNo = sessionStorage.getItem('usrNo');
                this.loadshow = true;
                    axios({
                        method: 'post',
                        url: "https://dev.zxtouch.msxiaodai.com/basicInformation/commit",
                        data: this.formData
                    })
                    .then(
                        response => {
                            if (response.data.code == 0) {
                                this.loadshow = false;
                                vant.Toast('基本信息提交完成.');
                                window.location.href = './CheckFace.html'
                            }else{
                                this.loadshow = false;
                                vant.Toast(response.data.msg);
                            }
                        },
                        response => {
                            console.log(response);
                        }
                    )
            }
        },
    });
</script>

</html>