<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>联系人信息</title>
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/Contract.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">
    <link rel="icon" type="image/x-icon" href="../image/form.png">

    <!-- 引入组件,注意引入顺序 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
    <!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id="app">
        <div class="top-step">
            <van-steps :active="active"  active-icon="youzan-shield">
                <van-step><a href="../html/basicPage.html">基本信息</a></van-step>
                <van-step><a href="../html/CheckFace.html">活体检测</a></van-step>
                <van-step><a href="../html/WorkMsg.html">工作信息</a></van-step>
                <van-step><a href="../html/Contract.html">联系人员</a></van-step>
                <!-- <van-step><a href="../html/UserCommit.html">用户认证</a></van-step> -->
            </van-steps>
        </div>
        <div class="container">
            <div class="top-con">
                <van-cell-group>
                    <van-tag mark type="primary">联系人信息</van-tag>
                </van-cell-group>

                <van-cell-group>
                    <van-field readonly required is-link label="直系联系人：" v-model="DCR" placeholder="如父母"
                        @click="showPickerparent1=!showPickerparent1" />
                </van-cell-group>

                <!-- 直系联系人选择弹出层 -->
                <van-popup v-model="showPickerparent1" position="bottom">
                    <van-picker show-toolbar title="直系联系人" :columns="columns1" @cancel="showPickerparent1 = false"
                        @confirm="onConfirmparent1" @change="onChangeparent1"
                        @click-right-icon="$toast('必须是真实准确的单位地址')" />
                </van-popup>

                <van-cell-group>
                    <van-field required v-model='form.directContactsName' label="姓名：" right-icon="question-o" placeholder="填写" />
                </van-cell-group>

                <van-cell-group>
                    <van-field v-model='form.directContactsPhone' label="电话：" right-icon="question-o" placeholder="填写"
                        @blur='checkaccount1()' :error-message="account1" />
                </van-cell-group>
            </div>
            <div class="bottom-con">
                <van-cell-group>
                    <van-field required readonly is-link label="其他联系人：" v-model="ODC" placeholder="如亲属"
                        @click="showPickerparent2=!showPickerparent2" />
                </van-cell-group>

                <!-- 直系联系人选择弹出层 -->
                <van-popup v-model="showPickerparent2" position="bottom">
                    <van-picker show-toolbar title="其他联系人" :columns="columns2" @cancel="showPickerparent2 = false"
                        @confirm="onConfirmparent2" @change="onChangeparent2" />
                </van-popup>

                <van-cell-group>
                    <van-field required v-model='form.otherContactsName' label="姓名：" right-icon="question-o" placeholder="填写" />
                </van-cell-group>

                <van-cell-group>
                    <van-field v-model='form.otherContactsPhone' label="电话：" right-icon="question-o" placeholder="填写"
                        @blur='checkaccount2()' :error-message="account2" />
                </van-cell-group>
            </div>


            <div class="load-ing" v-if="loadshow">
                <van-loading size="24px" color="#1989fa" vertical>加载中...</van-loading>
            </div>

            <div class="next-button" @click="next()">
                确定提交
            </div>
        </div>
    </div>
    <div class="ms-msg">
        版权公告 © 2018-2019 广州民盛互联网小额贷款有限公司<br>
        粤ICP备18017476号-1
    </div>
</body>

<!-- es6写法 type="module"-->
<script type="module">
    var app = new Vue({
            el: "#app",
            data: {
                form:{
                    usrNo:"",
                    account:"",                 //手机号
                    directContactsName:"",      //直系联系人姓名
                    directContactsRelation:"",  //关系
                    directContactsPhone:"",     //电话
                    otherContactsName:"",       //其他联系人姓名
                    otherDirectContacts:"",     //关系  
                    otherContactsPhone:"",      //电话
                    currentPage:3               //当前页
                },
                active:3,
                DCR:"",     //直系联系人关系
                ODC:"",     //其他联系人关系

                //输入框校验
                inputerror:{
                    phonegeshi:'手机号格式错误',
                    kong:'不能为空',
                    idgeshi:'身份证格式错误',
                    em:'邮箱格式错误',
                    q:'qq格式错误',
                },
                account1:"",
                account2:"",
                loadshow:false,

                contracts:"",//直系联系人
                showPickerparent1:false,//直系联系人的弹出层
                showPickerparent2:false,//直系联系人的弹出层
                columns1: ['配偶', '父母','子女'],//关系
                columns2: ['亲属', '朋友','同事','同学'],//关系
            },
            mounted() {
                this.getoldmsg();//获取上一次登录的信息数据预览
            },
            methods: {
                
            //校验
            checkaccount1(){
                // 手机号正则
                var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
                if(this.form.directContactsPhone != '' || this.form.directContactsPhone != null){
                    if (!myreg.test(this.form.directContactsPhone)) {
                    this.account1 = this.inputerror.phonegeshi;
                    return false
                }else{
                    this.account1 = "";
                    return true
                }
                }
                // 取消报错
                else{
                    this.account1 = "";
                    return true
                }
            },
            
            //校验
            checkaccount2(){
                // 手机号正则
                var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
                if(this.form.otherContactsPhone != '' || this.form.otherContactsPhone != null){
                    if (!myreg.test(this.form.otherContactsPhone)) {
                    this.account2 = this.inputerror.phonegeshi;
                    return false
                }else{
                    this.account2 = "";
                    return true
                }
                }
                // 取消报错
                else{
                    this.account2 = "";
                    return true
                }
            },
                
            getoldmsg(){
                this.loadshow = true;
                this.form.usrNo = sessionStorage.getItem('usrNo');
                if(this.form.usrNo != null){
                axios({
                        method: 'post',
                        url: "https://test.zxtouch.msxiaodai.com/app/userInfo",
                        data: this.form
                    })
                    .then(
                        response => {
                            if (response.data.code == 0) {
                                    this.loadshow = false;
                                if(response.data.detail.result.currentPage == 2  || response.data.detail.result.currentPage == 4  || response.data.detail.result.currentPage == 1 || response.data.detail.result.currentPage == 3){
                                    
                                    this.form.directContactsName = response.data.detail.result.directContactsName

                                    this.form.directContactsRelation = response.data.detail.result.directContactsRelation
                                    this.DCR = this.columns1[this.form.directContactsRelation]

                                    this.form.directContactsPhone = response.data.detail.result.directContactsPhone
                                    this.form.otherContactsName = response.data.detail.result.otherContactsName

                                    this.form.otherDirectContacts = response.data.detail.result.otherDirectContacts
                                    this.ODC = this.columns2[this.form.otherDirectContacts]
                                    this.form.otherContactsPhone = response.data.detail.result.otherContactsPhone
                                   
                                }else{
                                    
                                    vant.Dialog.alert({
                                        title: '提示',
                                        message: '请先完成填写前几个页面的信息.'
                                        }).then(() => {

                                        switch (response.data.detail.result.currentPage) {
                                            case 0:
                                                window.location.href = './basicPage.html'
                                                break;
                                        }
                                        });
                                }
                            }else{
                                // vant.Toast.fail(response.data.msg)
                                this.loadshow = false;
                            }
                        },
                        response => {

                        }
                    ).catch(function (error) {
                        console.log(error);
                        this.loadshow = false;
                            if(error && error.response){
                                switch (error.response.status){
                                    case 400:
                                    error.message = '错误请求'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 401:
                                    error.message = '未授权，请重新登录'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 403:
                                    error.message = '拒绝访问'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 404:
                                    error.message = '请求错误，未找到该资源'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 405:
                                    error.message = '请求方法未允许'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 408:
                                    error.message = '请求超时'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 502:
                                    error.message = '服务器错误'
                                    vant.Toast.fail(error.message)
                                    break;
                                }
                            }
                            })
                        }else{
                                vant.Dialog.alert({
                                        title: '提示',
                                        message: '请返回登录页面进行登录.'
                                        }).then(() => {
                                        this.loadshow = true;
                                        window.location.href = './index.html'
                                        });
                            }
            },

                upload(e){
                    console.log(e.target.value)
                },
                next(){
                    if(this.form.directContactsRelation  == null  ){
                        vant.Toast.fail('直系联系人关系必填')
                    }else if(this.form.directContactsName == null || this.form.directContactsName == ''){
                        vant.Toast.fail('直系联系人姓名必填')

                    }else if(this.form.otherDirectContacts  == null){
                        vant.Toast.fail('其他联系人关系必填')
                        
                    }else if(this.form.otherContactsName == null || this.form.otherContactsName == ''){
                        vant.Toast.fail('其他联系人姓名必填 ')
                    }else{
                        
                    this.form.usrNo = sessionStorage.getItem('usrNo');
                    this.loadshow = true;
                    axios({
                        method: 'post',
                        url: "https://test.zxtouch.msxiaodai.com/app/contactsInfo",
                        data: this.form
                    })
                    .then(
                        response => {
                            if (response.data.code == 0) {
                                this.loadshow = false
                                
                                    // window.location.href='./UserCommit.html';
                                    if (this.form.usrNo != null) {
                                        axios({
                                                method: 'get',
                                                url: "https://test.zxtouch.msxiaodai.com/auth/status",
                                                params: {
                                                    userNo: this.form.usrNo
                                                },
                                            })
                                            .then(
                                                response => {
                                                    if (response.data.code == 0) {
                                                        this.loadshow = false;
                                                        if (response.data.detail.livingBody == '04' || response.data.detail
                                                            .livingBody == '02') {
                                                            // if (this.mobile == '认证成功') {
                                                                axios({
                                                                        headers: {
                                                                            'Content-Type': 'application/x-www-form-urlencoded'
                                                                        },
                                                                        method: 'get',
                                                                        url: "https://test.zxtouch.msxiaodai.com/auth/updateTotalState",
                                                                        params: {
                                                                            userNo: this.form.usrNo
                                                                        }
                                                                    })
                                                                    .then(
                                                                        response => {
                                                                            if (response.data.code == 0) {
                                                                                //提交
                                                                                vant.Dialog.alert({
                                                                                    title: '提示',
                                                                                    message: '您所填的所有信息已提交成功'
                                                                                }).then(() => {
                                                                                    //清除缓存
                                                                                    sessionStorage.removeItem('idcardNumber');
                                                                                    window.location.href = './EndPage.html'
                                                                                });

                                                                            } else {
                                                                                vant.Toast.fail(response.data.msg)
                                                                            }
                                                                        },
                                                                        response => {
                                                                            console.log(response);
                                                                        }
                                                                    ).catch(function (error) {
                                                                        console.log(error);
                                                                        if (error && error.response) {
                                                                            switch (error.response.status) {
                                                                                case 400:
                                                                                    error.message = '错误请求'
                                                                                    vant.Toast.fail(error.message)
                                                                                    break;

                                                                                case 401:
                                                                                    error.message = '未授权，请重新登录'
                                                                                    vant.Toast.fail(error.message)
                                                                                    break;

                                                                                case 403:
                                                                                    error.message = '拒绝访问'
                                                                                    vant.Toast.fail(error.message)
                                                                                    break;

                                                                                case 404:
                                                                                    error.message = '请求错误，未找到该资源'
                                                                                    vant.Toast.fail(error.message)
                                                                                    break;

                                                                                case 405:
                                                                                    error.message = '请求方法未允许'
                                                                                    vant.Toast.fail(error.message)
                                                                                    break;

                                                                                case 408:
                                                                                    error.message = '请求超时'
                                                                                    vant.Toast.fail(error.message)
                                                                                    break;

                                                                                case 502:
                                                                                    error.message = '服务器错误'
                                                                                    vant.Toast.fail(error.message)
                                                                                    break;
                                                                            }
                                                                        }
                                                                    })
                                                        } else {
                                                            vant.Dialog.alert({
                                                                title: '提示',
                                                                message: '请完成活体检测.'
                                                            }).then(() => {
                                                                window.location.href = './CheckFace.html'
                                                            });
                                                        }
                                                    } else {
                                                        this.loadshow = false;
                                                        vant.Toast.fail('查询失败.')
                                                        // console.log(response.data.msg)
                                                    }
                                                },
                                                response => {
                                                    console.log(response);
                                                }
                                            ).catch(function (error) {
                                                this.loadshow = false;
                                                console.log(error);
                                                if (error && error.response) {
                                                    switch (error.response.status) {
                                                        case 400:
                                                            error.message = '错误请求'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 401:
                                                            error.message = '未授权，请重新登录'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 403:
                                                            error.message = '拒绝访问'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 404:
                                                            error.message = '请求错误，未找到该资源'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 405:
                                                            error.message = '请求方法未允许'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 408:
                                                            error.message = '请求超时'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 502:
                                                            error.message = '服务器错误'
                                                            vant.Toast.fail(error.message)
                                                            break;
                                                    }
                                                }
                                            })
                                    } else {
                                        window.location.href = './index.html'
                                    }

                            }else{
                                this.loadshow = false
                                console.log(response.data.msg)
                                vant.Toast.fail('提交联系人信息报错.');
                            }
                        },
                        response => {
                            this.loadshow = false;
                            console.log(response);
                        }
                    ).catch(function (error) {
                        console.log(error);
                            if(error && error.response){
                                switch (error.response.status){
                                    case 400:
                                    error.message = '错误请求'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 401:
                                    error.message = '未授权，请重新登录'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 403:
                                    error.message = '拒绝访问'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 404:
                                    error.message = '请求错误，未找到该资源'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 405:
                                    error.message = '请求方法未允许'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 408:
                                    error.message = '请求超时'
                                    vant.Toast.fail(error.message)
                                    break;

                                    case 502:
                                    error.message = '服务器错误'
                                    vant.Toast.fail(error.message)
                                    break;
                                }
                            }
                            })
                        }},

                // 直系联系人---------------------|
                // 变值
                onChangeparent1(all,value,index) {
                    this.DCR = value
                    this.form.directContactsRelation = index
                },
                //弹出层确认
                onConfirmparent1(value,index){
                    this.DCR=value
                    this.form.directContactsRelation = index
                    this.showPickerparent1=false
                },

                // 其他联系人---------------------|
                // 变值
                onChangeparent2(all,value,index) {
                    this.ODC = value
                    this.form.otherDirectContacts = index
                },
                //弹出层确认
                onConfirmparent2(value,index){
                    this.ODC=value
                    this.form.otherDirectContacts = index
                    this.showPickerparent2=false
                },
            }
        });
    </script>

</html>