<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/loginStyle.css">
    <link rel="stylesheet" href="../css/common.css">、
    <link rel="stylesheet" href="../css/firstPage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">
    <link rel="icon" type="image/x-icon" href="../image/form.png">
    <!-- 引入组件,注意引入顺序 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="home" class="container">
        <div class="login-form">
            <div class="login-title"><b>首 页</b></div>
            <div class="tio"></div>
            <div class="home-select">
                <!-- 信息类别 -->
                <div class="select-one">
                    <van-cell title="信息类别" is-link arrow-direction="down" :value="value" @click="showPicker = true" />
                </div>
                <van-popup v-model="showPicker" position="bottom">
                    <van-picker show-toolbar title="信息类别" :columns="columns" @cancel="onCancel" @change="onchangeOne"
                        @confirm="onConfirm" value-key="informationCategories" />
                </van-popup>
                <!-- 金融产品 -->
                <div class="select-one">
                    <van-cell title="金融产品" is-link arrow-direction="down" :value="valueTwo"
                        @click="showPickerTwo = true" />
                </div>
                <van-popup v-model="showPickerTwo" position="bottom">
                    <van-picker show-toolbar title="金融产品" :columns="columnsTwo" @cancel="onCancelTwo"
                        @confirm="onConfirmTwo" value-key="financialProductsName" @change="onchangeTwo" />
                </van-popup>
            </div>

            <div class="load-ing" v-if="loadshow">
                <van-loading size="24px" color="#1989fa" vertical>加载中...</van-loading>
            </div>

            <van-button class="login-button" @click="next()">
                提交
            </van-button>
        </div>
        <div class="ms-msg">
            版权公告 © 2018-2019 广州民盛互联网小额贷款有限公司<br>
            粤ICP备18017476号-1
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#home",
        data() {
            return {
                value: "", //信息类别
                valueTwo: "", //金融产品
                formData: {
                    ICid: '', //信息类别id
                    FPCid: '', //金融产品id
                    account: '', //用户账号
                    userNo: "", //用户编号
                },
                columns: ['个人'], //信息类别选项
                columnsTwo: [], //金融产品
                showPickerTwo: false, //金融产品显示控制
                showPicker: false, //信息类型显示控制
                loadshow: false,
            }
        },
        computed: {
            // 计算属性的 getter
            // is_sure() {
            //     return this.value.length === 0 || this.valueTwo.length === 0
            // }
        },
        mounted() {

        },
        methods: {
            next() {
                this.formData.account = sessionStorage.getItem('account');
                this.loadshow = true;
                if (this.formData.ICid != '' && this.formData.FPCid != '') {
                    axios({
                        method: "post",
                        data: this.formData,
                        url: "https://zxtouch.msxiaodai.com/data/submission"
                    }).then(
                        response => {
                            sessionStorage.setItem("userNo", response.data.detail.result.usrNo); //本地存储用户编号
                            sessionStorage.setItem("usrNo", response.data.detail.result.usrNo); //本地存储用户编号
                            var usrNo = response.data.detail.result.usrNo;
                            axios({
                                    method: 'get',
                                    url: "https://zxtouch.msxiaodai.com/auth/status",
                                    params: {
                                        userNo: usrNo
                                    },
                                })
                                .then(
                                    response => {
                                        if (response.data.code == 0) {
                                            this.loadshow = false;
                                            if (response.data.detail.totalState == '04' || response.data
                                                .detail
                                                .totalState == '02') {
                                                window.location.href = './EndPage.html'
                                            } else {
                                                this.loadshow = false;

                                                vant.Dialog.alert({
                                                    title: '提示',
                                                    message: '提交成功,进入基本信息填写页面.'
                                                }).then(() => {
                                                    window.location.href = './basicPage.html';
                                                });
                                            }
                                        } else {
                                            vant.Toast.fail('查询失败.')
                                        }
                                    }
                                )
                        }
                    ).catch(function (error) {
                        this.loadshow = false;
                        console.log(error);
                        console.log(error);
                        if (error && error.response) {
                            switch (error.response.status) {
                                case 400:
                                    error.message = '错误请求'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 401:
                                    error.message = '未授权，请重新登录'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 403:
                                    error.message = '拒绝访问'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 404:
                                    error.message = '请求错误，未找到该资源'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 405:
                                    error.message = '请求方法未允许'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 408:
                                    error.message = '请求超时'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 502:
                                    error.message = '服务器错误'
                                    vant.Toast.fail(error.message)
                                    break;
                            }
                        }
                    })
                } else {
                    this.loadshow = false;
                    vant.Toast.fail('信息类别和金融产品不能为空.')
                }
            },

            //获取产品
            getproduct() {
                axios({
                    method: "get",
                    params: {
                        ICid: this.formData.ICid
                    },
                    url: "https://zxtouch.msxiaodai.com/get/financialProducts"
                }).then(
                    response => {
                        if (response.data.code == 0) {
                            this.columnsTwo = response.data.detail
                        } else {
                            vant.Toast.fail('产品获取失败')
                            console.log(response.data.msg)
                        }
                    }
                ).catch(function (error) {
                    vant.Toast.fail(error)
                    console.log(error);
                    console.log(error);
                    if (error && error.response) {
                        switch (error.response.status) {
                            case 400:
                                error.message = '错误请求'
                                vant.Toast.fail(error.message)
                                break;

                            case 401:
                                error.message = '未授权，请重新登录'
                                vant.Toast.fail(error.message)
                                break;

                            case 403:
                                error.message = '拒绝访问'
                                vant.Toast.fail(error.message)
                                break;

                            case 404:
                                error.message = '请求错误，未找到该资源'
                                vant.Toast.fail(error.message)
                                break;

                            case 405:
                                error.message = '请求方法未允许'
                                vant.Toast.fail(error.message)
                                break;

                            case 408:
                                error.message = '请求超时'
                                vant.Toast.fail(error.message)
                                break;

                            case 502:
                                error.message = '服务器错误'
                                vant.Toast.fail(error.message)
                                break;
                        }
                    }
                });
            },

            // 信息类别--------------------
            //信息类别弹窗确认赋值
            onConfirm(value, index) {
                this.value = value
                this.formData.ICid = index + 1
                this.showPicker = false;
                this.getproduct();
                this.valueTwo = ''
            },
            //信息类别弹窗取消
            onCancel() {
                this.showPicker = false;
            },
            //改变值
            onchangeOne(all, value, index) {
                this.value = value
                this.formData.ICid = index + 1
                this.getproduct()
                this.valueTwo = ''
            },

            // 金融产品
            //判断是否可以选择金融产品
            // handelTwo() {
            //     if (this.value) {
            //         if (this.value === '企业') {
            //             this.showPickerTwo = false;
            //             alert('企业信息暂未开放')
            //         } else {
            //             this.showPickerTwo = true;
            //         }
            //     } else {
            //         return
            //     }
            // },


            //金融产品弹窗确认赋值
            onConfirmTwo(value, index) {
                this.valueTwo = value
                this.formData.FPCid = index + 1
                this.showPickerTwo = false;
            },
            //金融产品弹窗取消
            onCancelTwo() {
                this.showPickerTwo = false;
            },
            //改变值
            onchangeTwo(all, value, index) {
                this.valueTwo = value
                this.formData.FPCid = index + 1
            },
        },
    });
</script>

</html>