<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/loginStyle.css">
    <link rel="stylesheet" href="../css/common.css">、
    <link rel="stylesheet" href="../css/firstPage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">
    <!-- 引入组件,注意引入顺序 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
</head>

<body>
    <div id="home" class="container">
        <div class="login-form">
            <div class="login-title"><b>首 页</b></div>
            <div class="tio"></div>
            <div class="home-select">
                <!-- 信息类别 -->
                <div class="select-one">
                    <van-cell title="信息类别" is-link arrow-direction="down" :value="value" @click="showPicker = true" />
                </div>
                <van-popup v-model="showPicker" position="bottom">
                    <van-picker show-toolbar title="信息类别" :columns="columns" @cancel="onCancel" @change="onchangeOne"
                        @confirm="onConfirm" value-key="informationCategories" />
                </van-popup>
                <!-- 金融产品 -->
                <div class="select-one">
                    <van-cell title="金融产品" is-link arrow-direction="down" :value="valueTwo" @click="handelTwo" />
                </div>
                <van-popup v-model="showPickerTwo" position="bottom">
                    <van-picker show-toolbar title="金融产品" :columns="columnsTwo" @cancel="onCancelTwo"
                        @confirm="onConfirmTwo" value-key="financialProductsName" @change="onchangeTwo" />
                </van-popup>
            </div>
            <van-button class="login-button" @click="next()">
                提交
            </van-button>
        </div>
        <div class="ms-msg">
            版权公告 © 2018-2019 广州民盛互联网小额贷款有限公司<br>
            粤ICP备18017476号-1
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#home",
        data() {
            return {
                value: "",//信息类别
                valueTwo: "",//金融产品
                formData: {
                    xinxiId: '',
                    chanpinId: '',
                    phone: ''
                },
                columnsTwo: [{ id: 1, financialProductsName: '测试产品1' }, { id: 2, financialProductsName: '测试产品二' }],//金融产品选项
                columns: [{ id: 1, informationCategories: '个人' }, { id: 2, informationCategories: '企业' }],//信息类别选项
                showPickerTwo: false,//金融产品显示控制
                showPicker: false,//信息类型显示控制
            }
        },
        computed: {
            // 计算属性的 getter
            // is_sure() {
            //     return this.value.length === 0 || this.valueTwo.length === 0
            // }
        },
        methods: {
            next() {
                window.location.href = './basicPage.html';
            },

            // 信息类别--------------------
            //信息类别弹窗确认赋值
            onConfirm(value) {
                this.value = value.informationCategories;
                this.formData.xinxiId = value.id;
                if (value.informationCategories === '企业') {
                    this.valueTwo = '';
                    this.formData.chanpinId = ''
                }
                this.showPicker = false;
            },
            //信息类别弹窗取消
            onCancel() {
                this.showPicker = false;
            },
            //改变值
            onchangeOne(self, value) {
                this.value = value.informationCategories;
                this.formData.xinxiId = value.id;
                if (value.informationCategories === '企业') {
                    this.valueTwo = '';
                    this.formData.chanpinId = ''
                }
            },
            // 金融产品
            //判断是否可以选择金融产品
            handelTwo() {
                if (this.value) {
                    if (this.value === '企业') {
                        this.showPickerTwo = false;
                        alert('企业信息暂未开放')
                    } else {
                        this.showPickerTwo = true;
                    }
                } else {
                    return
                }
            },
            //金融产品弹窗确认赋值
            onConfirmTwo(value) {
                this.valueTwo = value.financialProductsName;
                this.formData.chanpinId = value.id
                this.showPickerTwo = false;
            },
            //金融产品弹窗取消
            onCancelTwo() {
                this.showPickerTwo = false;
            },
            //改变值
            onchangeTwo(self, value) {
                this.valueTwo = value.financialProductsName;
                this.formData.chanpinId = value.id;
            },
        },
    });
</script>

</html>