<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>认证信息</title>
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/Contract.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">
    <link rel="icon" type="image/x-icon" href="../image/form.png">

    <!-- 引入组件,注意引入顺序 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id="app">
        <div class="top-step">
            <van-steps :active="active">
                <van-step><a href="../html/basicPage.html">基本信息</a></van-step>
                <van-step><a href="../html/CheckFace.html">活体检测</a></van-step>
                <van-step><a href="../html/WorkMsg.html">工作信息</a></van-step>
                <van-step><a href="../html/Contract.html">联系人员</a></van-step>
                <van-step><a href="../html/UserCommit.html">用户认证</a></van-step>
            </van-steps>
        </div>
        <div class="container">
            <div class="top-con">
                <van-cell-group>
                    <van-tag mark type="primary">必选认证</van-tag>
                </van-cell-group>

                <van-cell-group>
                    <!-- <van-cell :is-link="mobile==='未认证' || mobile === '认证失败'" required title="移动运营商" v-model="mobile"
                        @click="yunyinshang" /> -->
                    
                        <van-cell :is-link="mobile==='未认证' || mobile === '认证失败'" title="移动运营商" v-model="mobile"/>
                </van-cell-group>
            </div>
            <div class="bottom-con">
                <van-cell-group>
                    <van-tag mark type="primary">非必选认证</van-tag>
                    <van-notice-bar :scrollable="false">
                        认证越多，额度越大
                    </van-notice-bar>
                </van-cell-group>

                <van-cell-group>
                    <van-cell title="人行征信信息" v-model="zxcCrawl" :is-link="zxcCrawl==='未认证' || zxcCrawl === '认证失败'" />
                </van-cell-group>

                <van-cell-group>
                    <van-cell title="公积金信息" v-model="fundRp" :is-link="fundRp==='未认证' || fundRp === '认证失败'" />
                </van-cell-group>

                <van-cell-group>
                    <van-cell title="学历信息" v-model="chsi" :is-link="chsi==='未认证' || chsi === '认证失败'" />
                </van-cell-group>
            </div>

            <div class="load-ing" v-if="loadshow">
                <van-loading size="24px" color="#1989fa" vertical>加载中...</van-loading>
            </div>

            <div class="next-button" @click="submit()">
                提 交
            </div>
        </div>
    </div>
    <div class="ms-msg">
        版权公告 © 2018-2019 广州民盛互联网小额贷款有限公司<br>
        粤ICP备18017476号-1
    </div>
</body>


<script>
    var app = new Vue({
        el: "#app",
        data: {
            mobile: "", //移动运营商认证
            zxcCrawl: '', //人行认证
            fundRp: '', //公积金认证
            chsi: '', //学历信息
            active: 4,
            loadshow: false
        },
        mounted() {
            this.load()
        },
        methods: {
            getoldmsg() {
                this.loadshow = true;
                var usrNo = sessionStorage.getItem('usrNo');
                if (usrNo != null) {
                    axios({
                            method: 'post',
                            url: "https://dev.zxtouch.msxiaodai.com/app/userInfo",
                            data: {
                                usrNo: usrNo
                            }
                        })
                        .then(
                            response => {
                                if (response.data.code == 0) {
                                    this.loadshow = false;
                                    if (response.data.detail.result.currentPage == 3) {
                                        this.load()
                                    } else {

                                        vant.Dialog.alert({
                                            title: '提示',
                                            message: '请您完成填写前面几个页面的信息.'
                                        }).then(() => {
                                            this.loadshow = true;

                                            switch (response.data.detail.result.currentPage) {
                                                case 0:
                                                    window.location.href = './basicPage.html'
                                                    break;
                                                case 1:
                                                    window.location.href = './CheckFace.html'
                                                    break;
                                                case 2:
                                                    window.location.href = './WorkMsg.html'
                                                    break;
                                            }
                                        });
                                    }
                                } else {
                                    // vant.Toast.fail(response.data.msg)
                                    this.loadshow = false;
                                }
                            },
                            response => {

                            }
                        ).catch(function (error) {
                            console.log(error);
                            this.loadshow = false;
                            if (error && error.response) {
                                switch (error.response.status) {
                                    case 400:
                                        error.message = '错误请求'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 401:
                                        error.message = '未授权，请重新登录'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 403:
                                        error.message = '拒绝访问'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 404:
                                        error.message = '请求错误，未找到该资源'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 405:
                                        error.message = '请求方法未允许'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 408:
                                        error.message = '请求超时'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 502:
                                        error.message = '服务器错误'
                                        vant.Toast.fail(error.message)
                                        break;
                                }
                            }
                        })
                } else {
                    vant.Dialog.alert({
                        title: '提示',
                        message: '请返回登录页面进行登录.'
                    }).then(() => {
                        this.loadshow = true;
                        window.location.href = './index.html'
                    });
                }
            },

            load() {
                this.loadshow = true;
                var usrNo = sessionStorage.getItem("usrNo");
                axios({
                        method: 'get',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        url: "https://dev.zxtouch.msxiaodai.com/auth/status",
                        params: {
                            userNo: usrNo
                        }
                    })
                    .then(
                        response => {
                            if (response.data.code == 0) {
                                switch (response.data.detail.mobile) {
                                    case '01':
                                        this.mobile = '未认证'
                                        this.loadshow = false;
                                        break;
                                    case '02':
                                        this.mobile = '认证中'
                                        this.loadshow = false;
                                        break;
                                    case '03':
                                        this.mobile = '认证失败'
                                        this.loadshow = false;
                                        break;
                                    case '04':
                                        this.mobile = '认证成功'
                                        this.loadshow = false;
                                        break;
                                }
                                switch (response.data.detail.zxcCrawl) {
                                    case '01':
                                        this.zxcCrawl = '未认证'
                                        this.loadshow = false;
                                        break;
                                    case '02':
                                        this.zxcCrawl = '认证中'
                                        this.loadshow = false;
                                        break;
                                    case '03':
                                        this.zxcCrawl = '认证失败'
                                        this.loadshow = false;
                                        break;
                                    case '04':
                                        this.zxcCrawl = '认证成功'
                                        this.loadshow = false;
                                        break;
                                }
                                switch (response.data.detail.fundRp) {
                                    case '01':
                                        this.fundRp = '未认证'
                                        this.loadshow = false;
                                        break;
                                    case '02':
                                        this.fundRp = '认证中'
                                        this.loadshow = false;
                                        break;
                                    case '03':
                                        this.fundRp = '认证失败'
                                        this.loadshow = false;
                                        break;
                                    case '04':
                                        this.fundRp = '认证成功'
                                        this.loadshow = false;
                                        break;
                                }
                                switch (response.data.detail.chsi) {
                                    case '01':
                                        this.chsi = '未认证'
                                        this.loadshow = false;
                                        break;
                                    case '02':
                                        this.chsi = '认证中'
                                        this.loadshow = false;
                                        break;
                                    case '03':
                                        this.chsi = '认证失败'
                                        this.loadshow = false;
                                        break;
                                    case '04':
                                        this.chsi = '认证成功'
                                        this.loadshow = false;
                                        break;
                                }
                            } else {
                                // vant.Toast.fail(response.data.msg)
                            }
                        }
                    ).catch(function (error) {
                        console.log(error);
                        this.loadshow = false;
                        if (error && error.response) {
                            switch (error.response.status) {
                                case 400:
                                    error.message = '错误请求'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 401:
                                    error.message = '未授权，请重新登录'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 403:
                                    error.message = '拒绝访问'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 404:
                                    error.message = '请求错误，未找到该资源'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 405:
                                    error.message = '请求方法未允许'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 408:
                                    error.message = '请求超时'
                                    vant.Toast.fail(error.message)
                                    break;

                                case 502:
                                    error.message = '服务器错误'
                                    vant.Toast.fail(error.message)
                                    break;
                            }
                        }
                    })
            },

            //移动运营商
            yunyinshang() {
                var usrNo = sessionStorage.getItem("usrNo");
                if (usrNo != null) {
                    axios({
                            method: 'get',
                            url: "https://dev.zxtouch.msxiaodai.com/auth/status",
                            params: {
                                userNo: usrNo
                            },
                        })
                        .then(
                            response => {
                                if (response.data.code == 0) {
                                    this.loadshow = false;
                                    if (response.data.detail.livingBody == '04' || response.data.detail
                                        .livingBody == '02') {
                                        axios({
                                                method: 'get',
                                                headers: {
                                                    'Content-Type': 'application/x-www-form-urlencoded'
                                                },
                                                url: "https://dev.zxtouch.msxiaodai.com/auth/phone",
                                                params: {
                                                    userNo: usrNo
                                                }
                                            })
                                            .then(
                                                response => {
                                                    if (response.data.code == 0) {
                                                        vant.Dialog.alert({
                                                            title: '提示',
                                                            message: '进入第三方认证页面.'
                                                        }).then(() => {
                                                            window.location.href = response.data.url
                                                        });
                                                    } else {
                                                        vant.Toast.fail(response.data.msg)
                                                    }
                                                },
                                                response => {
                                                    console.log(response);
                                                }
                                            ).catch(function (error) {
                                                console.log(error);
                                                if (error && error.response) {
                                                    switch (error.response.status) {
                                                        case 400:
                                                            error.message = '错误请求'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 401:
                                                            error.message = '未授权，请重新登录'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 403:
                                                            error.message = '拒绝访问'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 404:
                                                            error.message = '请求错误，未找到该资源'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 405:
                                                            error.message = '请求方法未允许'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 408:
                                                            error.message = '请求超时'
                                                            vant.Toast.fail(error.message)
                                                            break;

                                                        case 502:
                                                            error.message = '服务器错误'
                                                            vant.Toast.fail(error.message)
                                                            break;
                                                    }
                                                }
                                            })
                                    } else {
                                        vant.Dialog.alert({
                                            title: '提示',
                                            message: '请完成活体检测.'
                                        }).then(() => {
                                            window.location.href = './CheckFace.html'
                                        });
                                    }
                                } else {
                                    this.loadshow = false;
                                    vant.Toast.fail('查询失败.')
                                    // console.log(response.data.msg)
                                }
                            },
                            response => {
                                console.log(response);
                            }
                        ).catch(function (error) {
                            this.loadshow = false;
                            console.log(error);
                            if (error && error.response) {
                                switch (error.response.status) {
                                    case 400:
                                        error.message = '错误请求'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 401:
                                        error.message = '未授权，请重新登录'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 403:
                                        error.message = '拒绝访问'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 404:
                                        error.message = '请求错误，未找到该资源'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 405:
                                        error.message = '请求方法未允许'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 408:
                                        error.message = '请求超时'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 502:
                                        error.message = '服务器错误'
                                        vant.Toast.fail(error.message)
                                        break;
                                }
                            }
                        })
                } else {
                    window.location.href = './index.html'
                }
            },

            //提交
            submit() {
                var usrNo = sessionStorage.getItem("usrNo");
                if (usrNo != null) {
                    axios({
                            method: 'get',
                            url: "https://dev.zxtouch.msxiaodai.com/auth/status",
                            params: {
                                userNo: usrNo
                            },
                        })
                        .then(
                            response => {
                                if (response.data.code == 0) {
                                    this.loadshow = false;
                                    if (response.data.detail.livingBody == '04' || response.data.detail
                                        .livingBody == '02') {
                                        // if (this.mobile == '认证成功') {
                                            axios({
                                                    headers: {
                                                        'Content-Type': 'application/x-www-form-urlencoded'
                                                    },
                                                    method: 'get',
                                                    url: "https://dev.zxtouch.msxiaodai.com/auth/updateTotalState",
                                                    params: {
                                                        userNo: usrNo
                                                    }
                                                })
                                                .then(
                                                    response => {
                                                        if (response.data.code == 0) {
                                                            vant.Dialog.alert({
                                                                title: '提示',
                                                                message: response.data.msg + '.'
                                                            }).then(() => {
                                                                window.location.href = './EndPage.html'
                                                            });

                                                        } else {
                                                            vant.Toast.fail(response.data.msg)
                                                        }
                                                    },
                                                    response => {
                                                        console.log(response);
                                                    }
                                                ).catch(function (error) {
                                                    console.log(error);
                                                    if (error && error.response) {
                                                        switch (error.response.status) {
                                                            case 400:
                                                                error.message = '错误请求'
                                                                vant.Toast.fail(error.message)
                                                                break;

                                                            case 401:
                                                                error.message = '未授权，请重新登录'
                                                                vant.Toast.fail(error.message)
                                                                break;

                                                            case 403:
                                                                error.message = '拒绝访问'
                                                                vant.Toast.fail(error.message)
                                                                break;

                                                            case 404:
                                                                error.message = '请求错误，未找到该资源'
                                                                vant.Toast.fail(error.message)
                                                                break;

                                                            case 405:
                                                                error.message = '请求方法未允许'
                                                                vant.Toast.fail(error.message)
                                                                break;

                                                            case 408:
                                                                error.message = '请求超时'
                                                                vant.Toast.fail(error.message)
                                                                break;

                                                            case 502:
                                                                error.message = '服务器错误'
                                                                vant.Toast.fail(error.message)
                                                                break;
                                                        }
                                                    }
                                                })
                                        // } else {
                                        //     vant.Dialog.alert({
                                        //         title: '提示',
                                        //         message: '运营商认证未成功，不得提交.'
                                        //     }).then(() => {
                                        //         // console.log('运营商认证未成功，不得提交')
                                        //     });
                                        // }
                                    } else {
                                        vant.Dialog.alert({
                                            title: '提示',
                                            message: '请完成活体检测.'
                                        }).then(() => {
                                            window.location.href = './CheckFace.html'
                                        });
                                    }
                                } else {
                                    this.loadshow = false;
                                    vant.Toast.fail('查询失败.')
                                    // console.log(response.data.msg)
                                }
                            },
                            response => {
                                console.log(response);
                            }
                        ).catch(function (error) {
                            this.loadshow = false;
                            console.log(error);
                            if (error && error.response) {
                                switch (error.response.status) {
                                    case 400:
                                        error.message = '错误请求'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 401:
                                        error.message = '未授权，请重新登录'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 403:
                                        error.message = '拒绝访问'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 404:
                                        error.message = '请求错误，未找到该资源'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 405:
                                        error.message = '请求方法未允许'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 408:
                                        error.message = '请求超时'
                                        vant.Toast.fail(error.message)
                                        break;

                                    case 502:
                                        error.message = '服务器错误'
                                        vant.Toast.fail(error.message)
                                        break;
                                }
                            }
                        })
                } else {
                    window.location.href = './index.html'
                }
            }
        }
    });
</script>

</html>